* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 5px rgb(24, 101, 60);
    color: rgb(255, 255, 255);
    font-size: 30px;
}

table {
    border-collapse: collapse;
    background-color: rgb(233, 235, 236);
    margin: 5px;
    width: 220px;
    height: 300px;
}

#title {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    height: 55px;
    background-color: rgb(44, 180, 107);
    text-shadow: 2px 2px 5px rgb(24, 101, 60);
    color: rgb(255, 255, 255);
}

tr, th, td {
    text-align: center;
    font-size: 15px;
    padding: 8px;
}

th {
    background-color: rgb(216, 218, 219);
    text-shadow: 2px 2px 5px rgb(24, 101, 60);
    color: rgb(255, 255, 255);
}

td {
    background-color: rgb(233, 235, 236);
    text-shadow: 2px 2px 5px rgb(24, 101, 60);
    color: rgb(255, 255, 255);
}

.empty {
    background-color: rgb(233, 235, 236);
}

div {
    display: inline-block;
}